body {
  /* font-family: 'Rubik', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: hsla(214, 36%, 93%, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2396accf' fill-opacity='0.22' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@media (max-width: 20em) {
  :root {
    font-size: 0.875em;
  }
}

.github-link {
  align-self: flex-end;
  margin: 1em;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsla(231, 48%, 40%, 1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23212a5e' fill-opacity='0.11'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
  height: 25em;
}

h1 {
  margin: 1em 0 0;
  text-shadow: 0 0 5px hsla(0, 0%, 100%, 0.15);
  font-size: 3em;
}

h3 {
  font-weight: 300;
  text-align: center;
}

@media (min-width: 48em) {
  /* h1 {
    font-size: 2.25em;
  } */
  
  h3 {
    font-size: 1.25em;
  }
}

.search-container {
  background-color: hsla(0, 0%, 90%, 1);
  margin: -8em auto 0;
  padding: 1em 1em 0.5em 1em;
  width: 19em;
  border-radius: 0.5em;
  box-shadow: 0 3px 5px hsla(0,0%,0%,.2), 0 5px 15px hsla(0,0%,0%,0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 48em) {
  .search-container {
    width: 40em;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 16em;
  border: none;
  border-radius: 0.3em;
  font-size: 1.1rem;
  padding: 0.5em 0.5em 0.25em 0.5em;
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.2)
}

input::placeholder {
  font-size: 0.875em;
  font-style: italic;
}

@media (min-width: 48em) {
  .search-input {
    width: 28em;
  }
}

.search-button {
  width: 6em;
  margin: 0.5em;
  padding: 0.5em 0.3em;
  border: none;
  border-radius: 0.3em;
  color: white;
  box-shadow: 0 1px 2px hsla(0,0%,0%,.3), 0 2px 3px hsla(0,0%,0%,0.1);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: hsla(36, 100%, 60%, 1);
}

.search-button:hover {
  background-color: hsla(36, 100%, 50%, 1);
}

.search-button:active {
  background-color: hsla(36, 100%, 50%, 1);
  box-shadow: 0 1px 2px hsla(0,0%,0%,.3), 0 2px 3px hsla(0,0%,0%,0.1);
  transform: translateY(2px);
}

.loading-icon {
  font-size: .8rem;
}

.search-divider {
  border: 0.5px solid hsla(0, 0%, 75%, 1);;
  width: 21em;
  margin: 0.5em 0;
}

@media (min-width: 48em) {
  .search-divider {
    width: 42em;
  }
}
.search-provider-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-provider {
  display: flex;
  flex-direction: column;
}

.search-provider > .provider-image {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.provider-title {
  margin: 0;
  font-size: 0.7em;
  text-align: center;
  color: hsla(0, 0%, 15%, 1)
}

a { 
  text-decoration: none;
}

.search-num-providers {
  margin: 0.5em 0;
  font-size: 0.875em;
  color: hsla(0, 0%, 30%, 1)
}

.search-footer {
  margin: 0.5em 0;
  font-size: 0.7em;
  color: hsla(0, 0%, 30%, 1);
  font-style: italic;
}

.result-error {
  text-align: center;
  margin-top: 2em;
  font-size: 1.2em;
  color: hsla(0, 0%, 40%, 1);
  font-style: italic;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin: 0.5em auto;
  max-width: 48em;
}

@media (min-width: 48em) {
  .result-container {
    max-width: 64em;
  }
}

.result-number {
  color: hsla(214, 30%, 30%, 1);
  text-align: center;
  margin-top: 1.5em;
  font-size: 1.2em;
  font-style: italic;
}

.result-card {
  width: 18em;
  height: 9em;
  display: flex;
  margin: 1em;
  border-radius: 0.5em;
  box-shadow: 0 4px 6px hsla(0,0%,0%,.3), 0 5px 15px hsla(0,0%,0%,0.1);
}

.result-image {
  flex-basis: 6em;
  height: 9em;
  width: 6em;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.result-info {
  flex-basis: 12em;
  display: flex;
  flex-direction: column;
}

.result-desc {
  flex-basis: 5em;
  background-color: white;
  border-top-right-radius: 0.5em;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5em;
}

.result-provider-list {
  flex-basis: 4em;
  background-color: hsla(0, 0%, 90%, 1);
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.provider-image {
  height: 3em;
  width: 3em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  box-shadow: 0 1px 2px hsla(0,0%,0%,.3), 0 2px 3px hsla(0,0%,0%,0.1);
}

.provider-unavailable {
  background-color: hsla(210, 0%, 46%, 1);
  color: hsla(210, 0%, 75%, 1);
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-left: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0px 1px 3px hsla(0,0%,0%,0.3), 0px 2px 4px hsla(0,0%,0%,0.1);
}

.result-title {
  color: hsl(202,57%,15%);
  margin: 0;
}

.result-year {
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(201,23%,34%);
  margin: 0;
}